<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--TagMapper接口的映射文件-->
<mapper namespace="org.example.mapper.CategoryMapper">

    <select id="serchList" resultType="org.example.ArticleListVo">
        SELECT *, (SELECT COUNT(*) FROM sg_article WHERE title LIKE CONCAT('%', #{search}, '%')) AS total
        FROM sg_article
        <where>
            <if test="search != null and search != ''">
                title LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>

</mapper>